doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src='https://unpkg.com/ipfs-api@9.0.0/dist/index.js' crossorigin='anonymous' integrity='sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB')
    script(src='js/buffer.js')
    script.
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = false;
      xhr.addEventListener("readystatechange", function () {
      if (this.readyState === 4) {
      console.log(this.responseText);
      }
      });
      xhr.open("POST", "https://ipfs-dev.dlux.io:443/api/v0/add?stream-channels=true");
      xhr.setRequestHeader("Cache-Control", "no-cache");
      xhr.setRequestHeader("Postman-Token", "b601c87f-e966-4b09-b0ac-f653cbbc7147");
      function upload() {
      if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
      alert('The File APIs are not fully supported in this browser.');
      return;
      }
      input = document.getElementById('dluxfile');
      if (!input) {
      alert("Um, couldn't find the fileinput element.");
      } else if (!input.files) {
      alert("This browser doesn't seem to support the `files` property of file inputs.");
      } else if (!input.files[0]) {
      alert("Please select a file before clicking 'Load'");
      } else {
      file = input.files[0];
      const reader = new FileReader(file);
      reader.onloadend = function() {
      var data = new FormData();
      data.append("", reader.result);
      xhr.send(data);
      let url = `https://ipfs.io/ipfs/${xhr.response[0].hash}`
      let hash = xhr.response[0].hash
      console.log(`Url --> ${url}`)
      document.getElementById("vrHash").value = hash
      }
      reader.readAsArrayBuffer(dluxfile.files[0]); // Read Provided File
      }
      }
  body.cf
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")
    script(src="https://cdn.steemjs.com/lib/latest/steem.min.js")
    script(src="/js/main.js")
