extends layout

block content
  include partials/nav

  main.create-post
    if title
      h1 Edit WebVR Post
    else
      h1 New WebVR Post
        a(class='button' href='https://glitch.com/edit/#!/remix/cheerful-suggestion' target='_blank')
        img(src='viz/starthere_btn.png')
      a(class='button' href='/arpost') Make an AR dApp instead!
    form(id="steemPostForm" onsubmit="return validateForm()"  action="/post/create-post/" method="post")
      label Title
      if title
        input(type="text" name="title" value=title required)
        input#permlink(type="text" name="permlink" value=permlink disabled required)
      else
        input(type="text" name="title" required)
      label VR HTML Hash &nbsp;
        img(src='viz/info-icon.png', width='30', title='Upload the html file containing your scene to IPFS, then copy the hash at the end of the ipfs link: "QmRandomGarbageText"')
      if vrHash
        input#vrHash(type="text" name="vrHash" value=vrHash required)
      else
        input#vrHash(type="text" name="vrHash" value="QmSQmHArubDih7395b6GsaADdNqQKM6WZaV95FduCAdjrD" required)
      label 360° Image Hash &nbsp;
        img(src='viz/info-icon.png', width='30', title='Take a 360° photo from inside your scene by pressing SHIFT + CTL + ALT + S, upload to IPFS and copy the hash at the end of the ipfs link: "QmRandomGarbageText". This will become the preview for your post in VR.')
      if hash360
        input(type="text" name="Hash360" value=hash360)
      else
        input(type="text" name="Hash360" value="QmQnxDkRvmxgfH85Rj1cY4tMfw8B1A9PTDqMNsgWEDZNzG")
      label Blog Image Hash &nbsp;
        img(src='viz/info-icon.png', width='30', title='Take a traditional 16x9 photo by pressing CTL + ALT + S, upload to IPFS and copy the hash at the end of the ipfs link: "QmRandomGarbageText". This will be the main photo for your Steem blog post.')
      if image
        input(type="text" name="image" value=image)
      else
        input(type="text" name="image" value="QmPthDMHuHLpSTaJMWpdPzYxFc3V2ZoFXyevDBoqqzZAwh")
      label Blog Post
      if description
        textarea(name="post")
          | #{description}
      else
        textarea(name="post")
      label Tags separated by commas, all lowercase, no spaces!
      input(type="text" name="tags")
      label
      button.btn.btn-primary(type="submit") Post to STEEM
      p Posting as #{user}
      p #{msg}
